<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Login or register to begin tracking your ideas!</p>
  <a href="/users/login" class="btn btn-dark btn-lg">Login</a>
  <a href="/users/register" class="btn btn-dark btn-lg">Register</a>
</div>
